<!DOCTYPE html>
<!--
// Curso Egg FullStack
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Ejemplares</th>
                    <th scope="col">Autor</th>                    
                    <th scope="col">Editorial</th>                    

                </tr>
            </thead>
            <tbody th:each="libro : ${libros}">
                <tr>
                    <th scope="row" th:text="${libro.isbn}"></th>
                    <td th:text="${libro.titulo}"></td>
                    <td th:text="${libro.ejemplares}"></td>
                    <td th:text="${libro.autor.nombre}"></td>
                    <td th:text="${autor.editorial.nombre}"></td>
                    
                </tr>
            </tbody>
        </table>
    </body>
</html>
